keras==2.11.0
Keras-Preprocessing==1.1.2
keras-utils==1.0.13
matplotlib==3.6.3
matplotlib-inline==0.1.6
pandas==1.5.2
parso==0.8.3
pefile==2023.2.7
Pillow==9.2.0
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
tensorflow==2.11.0
tensorflow-estimator==2.11.0
typing_extensions==4.4.0
uvicorn==0.21.1
vboxapi==1.0
virtualenv==20.19.0
watchfiles==0.19.0
wcwidth==0.2.5
webcolors==1.12
webdriver-manager==4.0.0
websockets==11.0
fastapi==0.95.0
